// Colors
// $clr1: #ce2e6c;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$details-breakpoint: 784px;
$clr1: #0079bf; //primary-color
$clr2: #ffffff; //white-color
$clr3: #383838; //muted-black
$clr4: #080808; //strong-black


// BackgroundColors
$bgClr1: #f4f5f7; //card-details-bg-color

// Border radius
$borderRad1: 3px;
$borderRad2: 5px;